.card-body.watermelon p.description:first-of-type
{
    color:blue;
}





img {
	height: 100px;
}
.card-body {

    width: 200px;
    border:0cap 1px;
    border: 1px solid rgba(0,0,0,.125);
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-right: 15px;
    margin-left: 15px;
}

.btn-group {
    margin-bottom: 10px;
}


.column {
	display: flex;
}

body {
    color: black;
}